#dashboard .task_card {
    background-color: var(--secondary-light);
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
    width: auto;
    padding: 12px;
    position: relative;
    opacity: 1;
    transition: opacity 1s ease-out;
}

/* button checkbox */

.round {
    position: relative;
    flex: 15%;
}

.round label {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    height: 28px;
    left: 0;
    position: absolute;
    top: 0;
    width: 28px;
}

.round label:after {
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    height: 6px;
    left: 7px;
    opacity: 0;
    position: absolute;
    top: 8px;
    transform: rotate(-45deg);
    width: 12px;
}

.round input[type="checkbox"] {
    visibility: hidden;
}

.round input[type="checkbox"]:checked + label {
    background-color: var(--success);
    border-color: var(--success);
}

.round input[type="checkbox"]:checked + label:after {
    opacity: 1;
}

/* details */

.task_card p {
    font-weight: 600;
    font-size: small;
}

.task_card p:first-of-type {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
    height: 32px;
    flex: 45%;
}

.task_card p:first-of-type bold:first-letter {
    color: var(--white-less);
    text-transform: capitalize;
}
.task_card p:first-of-type a {
    text-decoration: none;
    color: var(--white-less);
}

.task_card p:first-of-type small {
    font-size: x-small;
    color: var(--grey);
}

.task_card p:first-of-type {
    color: #f7f3f3;
    font-size: large;
    text-overflow: ellipsis;
}

.task_card p:last-of-type {
    color: var(--primary-dark);
    display: flex;
    align-items: center;
    width: auto;
    height: auto;
    flex: 30%;
}

/* delete buttons */
.cards_btn {
    width: 42px;
    flex: 10%;
    position: absolute;
    right: 0;
    top: 8px;
}

.cards_btn button.btn {
    display: contents;
}

.btn .material-icons {
    color: var(--grey);
    font-size: large;
    cursor: pointer;
}

.btn:hover .material-icons {
    color: var(--primary-dark);
}
