#dashboard {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    gap: 24px;
}

#dashboard .cards_container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.is-hidden {
    display: none;
}

.search_container {
    height: 54px;
    background: white;
    position: sticky;
    top: 0px;
    z-index: 1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#search-box {
    border-bottom: 1px solid var(--primary);
    width: max-content;
}

[type="search"] {
    cursor: text;
    color: var(--secondary-dark);
    font-size: large;
}
.search_container div.select {
    border-bottom: 1px solid var(--primary);
    width: max-content;
}

.search_container select {
    border: none;
    color: var(--secondary);
    font-size: medium;
    font-weight: 600;
}

.search_container select:focus {
    outline: none;
}
