@import "../animation.css";

#form-view {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 0px 24px 0px 0;
}

#form-view .form__content {
    background-color: var(--secondary-light);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    height: 90%;
    width: 78%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    align-items: center;
    min-height: 320px;
    max-width: 1024px;
    padding: 12px;
    position: relative;
    opacity: 1;
    border: none;
    transition: opacity 1s ease-out;
    transition: background-color 0.3s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#form-view .form__header {
    display: flex;
    align-items: center;
}

#form-view .form__header h1 {
    color: var(--white);
    font-weight: 900;
    font-size: 32px;
}

#form-view .form__header .material-icons {
    font-size: 64px;
    color: var(--white);
}

#form-view .form__content #task-form {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    justify-content: space-around;
}

#task-form p {
    width: 96%;
    margin: 0;
    color: var(--secondary);
    font-weight: 800;
}

#task-form input:first-of-type,
#task-form textarea {
    width: inherit;
    background-color: var(--white);
    color: var(--primary-dark);
    border: none;
    padding: 12px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    outline: none;
    font-weight: 600;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 4px;
    transition: 0.3s ease-in-out;
}
#task-form input:first-of-type::placeholder,
#task-form textarea::placeholder {
    color: var(--grey);
}

#task-form input:first-of-type {
    height: 52px;
}

#task-form button.add {
    background: var(--primary);
    color: var(--white);
    border: none;
    cursor: pointer;
    cursor: pointer;
    height: 52px;
    width: 110px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 4px;
    transition: 0.3s ease-in-out;
}

#task-form button.add:hover {
    background: var(--white);
    color: var(--primary);
}

#task-form button.add.disabled {
    background-color: var(--grey);
    cursor: not-allowed;
    color: white;
}

#task-form button.cancel {
    border: none;
    background: transparent;
    border: none;
    cursor: pointer;
    height: 68px;
    width: 68px;
    color: var(--error);
}

#task-form span.error {
    display: none;
}

.error {
    color: var(--error);
    display: none;
    animation: 0.5s fadeIn;
}

.success {
    margin-top: 30px;
    color: var(--success);
    animation: 1.5s fadeOut;
}
